branch-protection:
  protect: true
  orgs:
    jenkins-x:
      required_status_checks:
        contexts: ["serverless-jenkins"]

    jenkins-x-charts:
      repos:
        vault-operator:
          required_status_checks:
            contexts: ["knative-build"]
        knative:
          required_status_checks:
            contexts: ["knative-build"]
        prow:
          required_status_checks:
            contexts: ["knative-build"]
        jx-build-templates:
          required_status_checks:
            contexts: ["knative-build"]

    cloudbees:
      repos:
        core-backend:
          required_status_checks:
            contexts: ["serverless-jenkins"]
        core-frontend:
          required_status_checks:
            contexts: ["serverless-jenkins"]

owners_dir_blacklist:
  default: null
  repos: null
prowjob_namespace: jx
pod_namespace: jx
push_gateway: {}
sinker:
  resync_period: 5m
  max_prowjob_age: 24h
  max_pod_age: 24h

periodics:
- name: upgrade
  interval: 5m
  agent: knative-build
  build_spec:
    serviceAccountName: jenkins
    template:
      name: knative-deploy

postsubmits:
  jenkins-x/jx:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    name: release

  jenkins-x/jenkins-x-extensions:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-base
    name: release

  jenkins-x/ext-spotbugs:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    name: release

  jenkins-x/jenkins-x-builders:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    name: release

  jenkins-x/jenkins-x-serverless:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-cwp
    name: release

  jenkins-x/dex:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    name: release

  jenkins-x/ext-jacoco:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    name: release

  jenkins-x/haha:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    name: release  

  jenkins-x/ext-java-code-quality:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    name: release

  rawlingsj/testchart:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-test
    name: release

  jenkins-x-charts/vault-operator:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: knative-build-bot
      template:
        name: knative-chart-release
        arguments:
        - name: WORKSPACE
          value: /workspace/vault-operator
    name: release

  jenkins-x-charts/jx-build-templates:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: knative-build-bot
      template:
        name: knative-chart-release
        arguments:
        - name: WORKSPACE
          value: /workspace/jx-build-templates
    name: release

  jenkins-x-charts/knative:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: knative-build-bot
      template:
        name: knative-chart-release
        arguments:
        - name: WORKSPACE
          value: /workspace/knative-build
    name: release

  jenkins-x-charts/prow:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: knative-build-bot
      template:
        name: knative-chart-release
        arguments:
        - name: WORKSPACE
          value: /workspace/prow
    name: release

  jenkins-x/cloud-environments:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    name: release
  jenkins-x/exposecontroller:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    name: release
  jenkins-x/exposecontroller-service:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    name: release
  jenkins-x/homebrew-jx:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    name: release
  jenkins-x/jenkins-x-image:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-base
    name: release
  jenkins-x/jenkins-x-platform:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-base
    name: release
  jenkins-x/jx-docs:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    name: release
  jenkins-x/jx-java-client:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-maven
    name: release
  jenkins-x/jx-release-version:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    name: release
  jenkins-x/jx-tutorial:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    name: release
  jenkins-x/metrics:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-base
    name: release
  jenkins-x/nexus:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-base
    name: release
  jenkins-x/pipeline-events-addon:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-base
    name: release
  jenkins-x/sso-operator:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    name: release
  jenkins-x/terraform-provider-jx:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    name: release
  jenkins-x/updatebot:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-maven
    name: release
  jenkins-x/vscode-jx-tools:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-javascript
    name: release

  cloudbees/core-backend:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: knative-build-bot
      template:
        name: jenkins-go
    name: release
  cloudbees/core-frontend:
  - agent: knative-build
    branches:
    - master
    build_spec:
      serviceAccountName: knative-build-bot
      template:
        name: jenkins-javascript
    name: release

presubmits:
  jenkins-x/jx:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test bdd
    trigger: (?m)^/test( all| bdd),?(\s+|$)

  jenkins-x/jenkins-x-builders:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)

  jenkins-x/jenkins-x-serverless:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-cwp
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)

  jenkins-x/jenkins-x-extensions:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-base
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)

  jenkins-x/ext-spotbugs:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)

  jenkins-x/dex:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)

  jenkins-x/ext-jacoco:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)
  
  jenkins-x/haha:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)  

  jenkins-x/ext-java-code-quality:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)

  rawlingsj/testchart:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)

  jenkins-x-charts/vault-operator:
  - agent: knative-build
    always_run: true

    build_spec:
      template:
        name: knative-chart-ci
        arguments:
        - name: WORKSPACE
          value: /workspace/vault-operator
    context: knative-build
    name: knative-build
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)

  jenkins-x-charts/jx-build-templates:
  - agent: knative-build
    always_run: true
    build_spec:
      template:
        name: knative-chart-ci
        arguments:
        - name: WORKSPACE
          value: /workspace/jx-build-templates
    context: knative-build
    name: knative-build
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)

  jenkins-x-charts/knative:
  - agent: knative-build
    always_run: true
    build_spec:
      template:
        name: knative-chart-ci
        arguments:
        - name: WORKSPACE
          value: /workspace/knative-build
    context: knative-build
    name: knative-build
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)

  jenkins-x-charts/prow:
  - agent: knative-build
    always_run: true
    build_spec:
      template:
        name: knative-chart-ci
        arguments:
        - name: WORKSPACE
          value: /workspace/prow
    context: knative-build
    name: knative-build
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)

  jenkins-x/cloud-environments:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)
  jenkins-x/exposecontroller:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)
  jenkins-x/exposecontroller-service:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)
  jenkins-x/homebrew-jx:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)
  jenkins-x/jenkins-x-image:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-base
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)
  jenkins-x/jenkins-x-platform:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-base
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)
  jenkins-x/jx-docs:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)
  jenkins-x/jx-java-client:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-maven
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)
  jenkins-x/jx-release-version:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)
  jenkins-x/jx-tutorial:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)
  jenkins-x/metrics:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-base
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)
  jenkins-x/nexus:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-base
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)
  jenkins-x/pipeline-events-addon:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-base
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)
  jenkins-x/sso-operator:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)
  jenkins-x/terraform-provider-jx:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-go
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)
  jenkins-x/updatebot:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-maven
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)

  jenkins-x/vscode-jx-tools:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: jenkins
      template:
        name: jenkins-javascript
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)

  cloudbees/core-backend:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: knative-build-bot
      template:
        name: jenkins-go
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)

  cloudbees/core-frontend:
  - agent: knative-build
    always_run: true
    build_spec:
      serviceAccountName: knative-build-bot
      template:
        name: jenkins-javascript
    context: serverless-jenkins
    name: serverless-jenkins
    rerun_command: /test this
    trigger: (?m)^/test( all| this),?(\s+|$)

tide:
  sync_period: 2m
  status_update_period: 1m
  context_options:
    from-branch-protection: true
  skip-unknown-contexts: false
  queries:
  - labels:
    - approved
    missingLabels:
    - do-not-merge
    - do-not-merge/hold
    - do-not-merge/work-in-progress
    - needs-ok-to-test
    - needs-rebase
    repos:
    - jenkins-x-bot/environment-jenkinsx-dev-staging
    - jenkins-x-bot/environment-jenkinsx-dev-production
    - jenkins-x/jx
    - jenkins-x/dex
    - jenkins-x/ext-jacoco
    - jenkins-x/haha
    - jenkins-x/jenkins-x-builders
    - jenkins-x/jenkins-x-serverless
    - jenkins-x-charts/vault-operator
    - jenkins-x-charts/jx-build-templates
    - jenkins-x-charts/knative
    - jenkins-x-charts/prow
    - rawlingsj/testchart
    - jenkins-x/ext-java-code-quality
    - jenkins-x/cloud-environments
    - jenkins-x/exposecontroller
    - jenkins-x/exposecontroller-service
    - jenkins-x/homebrew-jx
    - jenkins-x/jenkins-x-image
    - jenkins-x/jenkins-x-platform
    - jenkins-x/ext-spotbugs
    - jenkins-x/jenkins-x-extensions
    - jenkins-x/jx-docs
    - jenkins-x/jx-java-client
    - jenkins-x/jx-release-version
    - jenkins-x/jx-tutorial
    - jenkins-x/metrics
    - jenkins-x/nexus
    - jenkins-x/pipeline-events-addon
    - jenkins-x/sso-operator
    - jenkins-x/terraform-provider-jx
    - jenkins-x/updatebot
    - jenkins-x/vscode-jx-tools
    - cloudbees/core-backend
    - cloudbees/core-frontend
  - labels:
    - updatebot
    missingLabels:
    - do-not-merge
    - do-not-merge/hold
    - do-not-merge/work-in-progress
    - needs-ok-to-test
    - needs-rebase
    orgs:
    - jenkins-x
    - jenkins-x-charts
  target_url: https://deck.jx.cd.jenkins-x.io
